{{define "title"}} Search Card {{end}}

{{define "main"}}




<div class = "build-deck">

        <button class = "save">Save</button> 
        <div class = "search-area">
            <div class = "search-form">
                <div  class = "search-form-bar">
                    <img class = "search-icon" src="/static/img/search.png" alt="search icon">
                    <input class = "search-bar" type="text" name = "name" placeholder="Search Card">
                </div>
            </div>
    
            <div class = "search-results">
                {{if .Cards}}
                    {{range .Cards}}
                    <div class = "card">
                        <img data-index = {{.ID}} class = "card-image"src="" data-src = {{.Image_uri}} alt={{.Name}}> 
                        <input class = "add-card" type="image" src="/static/img/add.png">
                    </div>
                    {{end}}
                {{else}}
                    <div class = "card-placeholder"></div>
                    <div class = "card-placeholder"></div>
                    <div class = "card-placeholder"></div>
                    <div class = "card-placeholder"></div>
                    <div class = "card-placeholder"></div>
                    <div class = "card-placeholder"></div>
                    <div class = "card-placeholder"></div>
                    <div class = "card-placeholder"></div>
                    <div class = "card-placeholder"></div>
                {{end}}
            </div>
        </div> 

         <div class = "nameAndBack">
            <a href="/home" class = "deckBuildBack"></a>
            <a href="" class ="deckBuildDelete"></a>
            <input type="text" class = "deck-name" {{if .Deck.Name}} value = {{.Deck.Name}} {{end}}>
        </div> 
        
        <div class = "display-deck" data-index="{{.Deck.DeckID}}">
            {{if and (.Deck) (not (eq .Deck.DeckID -1))}}

                {{if and .Deck.Commander (not (eq .Deck.Cindex -1) )}}
                    <div  class = "deck-card commander" data-index = {{.Deck.Commander.ID}}>
                        <img  class = "deck-card-image"src="" data-src = {{.Deck.Commander.Image_uri}}  alt={{.Deck.Commander.Name}}> 
                        <input class = "delete-card" type="image" src="/static/img/remove.png">
                        <input class = "make-commander" type="image" src="/static/img/commander.png">
                    </div>
                {{end}}
                {{range .Deck.Cards}}
                    <div  class = "deck-card" data-index = {{.ID}}>
                        <img  class = "deck-card-image"src="" data-src={{.Image_uri}} alt={{.Name}}> 
                        <input class = "delete-card" type="image" src="/static/img/remove.png">
                        <input class = "make-commander" type="image" src="/static/img/commander.png">
                    </div>
                {{end}}
            {{end}}
        </div>
</div>

{{end}}