{{define "title"}} Home {{end}}

{{define "main"}}
<div class = "home-wrapper">
   <div class = "deck-view">
      <a class = "add-deck" href="/cards/builddeck/-1">
         <img src="/static/img/deckadd.png" alt="Plus Icon">
      </a>

      {{if .Decks}}
         {{range .Decks}}
            <a class = "home-cards" href = "/cards/builddeck/{{.DeckID}}">
               <img class = "hc-img" src= {{.Cover_img}} alt={{.Name}}>
               <div class = "hc-info">
                  <p>{{.Name}}</p>
               </div>
            </a>
         {{end}}
      {{end}}
   </div>
</div>

{{end}}