{{define "nav"}}

<ul>
    {{if .IsAuthenticated}}
        <li class = "nav-left"><a  href="/home">View Decks</a></li>
    {{end}}

    
        <div class = "nav-right">
            {{if .IsAuthenticated}}
            <li><form action="/users/logout" method="post">
                <input class = "logout" type="submit" value = "Logout">
            </form></li>
            {{else}}
            <li><a  href="/users/signup">Signup</a></li>
            <li><a  href="/users/login">Login</a></li>
            {{end}}
        </div>
</ul>
{{end}}