/*
darkest: 
#222831
#31363F
#76ABAE
#EEEEEE
lightest:
*/

*{
    margin: 0;
    padding: 0;
    background-color: #222831;
    color: #EEEEEE;
}

input, button, select, textarea {
    font: inherit;
}

@keyframes fade {
    from {opacity: 1; visibility: visible;}
    to {opacity: 0; visibility: hidden;}
}

.flash{
    position: fixed; 
    left: 50%;
    top: 0%; 
    translate: -50% 2.5rem;
    width: max(200px, 20%);
    padding: 1rem;
    background-color: #EEEEEE;
    color: black;
    border-radius: .5rem;
    text-align: center;
    display: inline-block;
    align-items: center;
    overflow: hidden;
    animation: fade 3s ease-in forwards;
}

.flash p{
    background: #EEEEEE;
    color: black;
}



/* Navbar code */



ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: fixed;
    background-color: #31363F;
    top: 0;
    height: 2rem;
}

.nav-right{
    float: right; 
    margin-right: 2rem;
}

.nav-left{
    margin-left: 1rem;
}

li {
    display: inline;
    float: left; 
}

li a {
    display: block;
    padding: 8px;
    background-color: #31363F;
    text-align: center;
    border: none;
    text-decoration: none;
}

li form{
    display: block;
    padding: 8px;
    background-color: #31363F;
    text-align: center;
}

li a:hover{
    opacity: 70%;
}

.logout{
    background-color: #31363F;
    border: none; 
    outline: none;
    text-align: center;
}

.logout:hover{
    opacity: 70%;
}




/* Code for forms*/

.wrapper{
    height: 85vh; 
    display: grid;
}



.signup-form {
    display: grid; 
    background-color: #31363F;
    margin: auto;
    width: max(300px,20%); 
    height: 40%;
    border-radius: .5em;
    padding: 1rem;
}

.label-grid{
    display: grid; 
    grid-template-columns: (2, 1fr);
}

.error{
    color: #76ABAE;   
}



.login-form {
    display: grid;
    grid-template-rows: auto auto auto;
    margin: auto;
    width:  max(300px,20%);
    height: 20%;
    border-radius: .5em;
    padding: 1rem;
    background-color: #31363F;
}

.form-group{
    display: grid;
    background-color: #31363F;
}
 
.form-group input{
    width: 100%;
    border-radius: .5em;
}

.form-group label{
    background-color: #31363F;
    width: 100%;
}

.submit{
    width: 100%;
}

.invalid-credentials{
    color: #76ABAE;
    background-color: #31363F;
    text-align: center;
}

/*Home Page / View Decks*/

.home-wrapper{
    margin: 1rem;
    margin-top: 2.5rem;
}

/*.deck-view{
    display: grid;
    width: 100%; 
    height: 100%;
    grid-template-rows: repeat(auto-fit, 292px);
    grid-template-columns: repeat(auto-fit, 204px);
    gap: 1rem;
    overflow-y: scroll;
}*/


.deck-view{
    display: flex; 
    flex-wrap: wrap;
    width: 100%; 
    height: 100%;
    justify-content: center;
    gap: 10px;
}

.add-deck{
    background-color: #31363F;
    border-radius: .5rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 292px;
}

.add-deck input{
   background-color: transparent;
}


.add-deck img{
    display: block; 
    background-color: transparent;
}

.home-cards{
    display: flex; 
    flex-direction: column;
    border-radius: .5rem;
    overflow: hidden;
    width: 204px;
    height: 292px;

}

.hc-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hc-info{
    background-color: #31363F;
}

.hc-info p{
    background-color: transparent;
    width: 100%;
}

/* Make Deck Page */

.md-form {
    display: grid;
    margin: auto;
    width: 20%;
    height: 15%;
    border-radius: .5em;
    padding: 1rem;
    background-color: #31363F;
}
 



/* Deck Build Page*/



.build-deck{
    margin: 3rem 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    /*grid-template-areas: "deck deck search";*/
    gap: 10px;
}

.display-deck{
    display: flex;
    grid-row-start: 2;
    grid-column-start: 1; 
    width: 100%;
    border: 1px solid whitesmoke;
    overflow-y: auto;
    flex-wrap: wrap;
    flex-direction: row;
    height: 88vh;
    gap: 5px;
}


.save{
    grid-row-start: 1;
    grid-column-start: 2;
    border: 1px solid whitesmoke;
}

.nameAndBack{
    grid-row-start: 1;
    grid-column-start: 1; 
    display: flex;
    align-items: center;
    gap: 10px;
}

.deckBuildBack{
    width: 30px;
    height: 30px;
    border-radius: 1rem;
    background-color: #31363F;
    background-image: url("/static/img/back.png");
    background-position: center;
    background-size: cover;

}

.nameAndBack input{
    border: none;
    border-bottom: 1px solid whitesmoke;
}

input:focus{
    outline:none;
}


.search-area{
    border: 1px solid whitesmoke;
    grid-column-start: 2;
    grid-row-start: 2; 
}

.search-form{
    margin: auto; 
    margin-top: 1rem;
    width: max-content;
    text-align: center;
    align-items: center;
    border-radius: .5em;
    padding: .5rem;
    background: #EEEEEE;
     
}

.search-form-bar{
    background-color: transparent;
    display: flex; 
    align-items: center;
}


.search-icon{
    color: white;
    background-color: transparent;
    padding-right: .25em;
}

.search-bar{    
    outline: none; 
    border: none;
    background-color: transparent;
    color: black;
}

.search-results{
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(auto-fit, minmax(min(146px, 100%), 1fr));
    grid-template-rows: repeat(3, 1fr);
    overflow-y: auto;
    gap: 10px;
    justify-items: center;
}

.search-results-result{
    margin: auto;
}

.card{
    position: relative;
    width: 146px;
    height: 204px;
    border-radius: .5em;
    overflow: hidden;
}

.card-image{
    display: block;
}

.add-card{
    background-color: white;
    border-radius: 1rem;
    color: black;
    align-items: center;
    position: absolute; 
    bottom: 5px; 
    left: 5px;
}

.make-commander{
    background-color: white;
    border-radius: 1rem;
    color: black;
    align-items: center;
    position: absolute; 
    bottom: 5px; 
    right: 5px;
    border: 1px solid #222831;
}

.delete-card{
    background-color: white;
    border-radius: 1rem;
    color: black;
    align-items: center;
    position: absolute; 
    bottom: 5px; 
    left: 5px;
    border: 1px solid #222831;
}


.commander{
    order: -1;
    border: 2px solid #76ABAE;
}



.add-card:hover{
    opacity: 70%;
}

@media screen and (min-width: 750px){
    .deck-view{
       justify-content: flex-start; 
    }
}